@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --aad: #ff8975;
}

@font-face {
    font-family: 'LigthItalic';
    src: url('../globals/fonts/sf-pro-display/SFPRODISPLAYLIGHTITALIC.OTF') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'OVTreasure';
    src: url('../globals/fonts/ov-treasure-font-family-1737352163-0/ovtreasuredemo-Regular-BF67891bb20a9af.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Manchester';
    src: url('../globals/fonts/manchester/man-sig.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RegularItalic';
    src: url('../globals/fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF') format('opentype');
    font-weight: normal;
    font-style: italic;
}

body {
    font-family: RegularItalic, serif;
    overflow-y: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    scroll-behavior: smooth;
}


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(24px);
}

::-webkit-scrollbar-thumb {
    background-color: #DCB3AD;
    border-radius: 4px;
}

